--find-links https://download.pytorch.org/whl/torch_stable.html

torch>=2.11.0+cu128
#torch==2.11.0+cu124 or +cu132 # depending on your CUDA version, find out via nvcc -V
gradio>=6.18.0
botorch>=0.18.1
diffusers>=0.38.0
transformers>=5.11.0
accelerate>=1.14.0
pandas>=2.3.3
huggingface_hub
invisible-watermark
safetensors
webcolors>=25.10.0
pyautogui
